<a href="https://colab.research.google.com/github/HWANG-HOE-SUN/Code-/blob/main/%EC%83%81%EC%A0%90_%EC%8B%A0%EC%9A%A9%EC%B9%B4%EB%93%9C%EB%A7%A4%EC%B6%9C_Solution%ED%95%84%EC%82%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os
import warnings

warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv('/content/funda_train.csv')
submission = pd.read_csv('/content/submission.csv')

In [ ]:
train.shape

(1020208, 9)

In [ ]:
train.tail()

         store_id  card_id card_company  ...  region type_of_business       amount
6556608      2136  4663855            d  ...  제주 제주시           기타 주점업 -4500.000000
6556609      2136  4663855            d  ...  제주 제주시           기타 주점업  4142.857143
6556610      2136  4663489            a  ...  제주 제주시           기타 주점업  4500.000000
6556611      2136  4663856            d  ...  제주 제주시           기타 주점업   571.428571
6556612      2136  4658616            c  ...  제주 제주시           기타 주점업  5857.142857

[5 rows x 9 columns]

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6556613 entries, 0 to 6556612
Data columns (total 9 columns):
 #   Column            Dtype
---  ------            -----
 0   store_id          int64
 1   card_id           int64
 2   card_company      object
 3   transacted_date   object
 4   transacted_time   object
 5   installment_term  int64
 6   region            object
 7   type_of_business  object
 8   amount            float64
dtypes: float64(1), int64(3), object(5)
memory usage: 450.2+ MB

In [ ]:
train.describe()

           store_id       card_id  installment_term        amount
count  6.556613e+06  6.556613e+06      6.556613e+06  6.556613e+06
mean   1.084930e+03  2.268127e+06      1.382017e-01  1.043511e+04
std    6.152183e+02  1.351058e+06      1.188152e+00  3.104031e+04
min    0.000000e+00  0.000000e+00      0.000000e+00 -2.771429e+06
25%    5.860000e+02  1.088828e+06      0.000000e+00  2.142857e+03
50%    1.074000e+03  2.239304e+06      0.000000e+00  4.285714e+03
75%    1.615000e+03  3.438488e+06      0.000000e+00  8.571429e+03
max    2.136000e+03  4.663856e+06      9.300000e+01  5.571429e+06

### 자체 개발 EDA

In [3]:
def calcul_column_len(df,colname): # unique 데이터 갯수 반환
  df_col = df[colname]
  cols = df_col.unique()
  return len(cols)

In [4]:
for i in train.columns:
  result_str = f'{i} 수: ' + str(calcul_column_len(train,i))
  print(result_str)

store_id 수: 457
card_id 수: 780151
card_company 수: 8
transacted_date 수: 1004
transacted_time 수: 1441
installment_term 수: 24
region 수: 89
type_of_business 수: 78
amount 수: 14707

## 분석 환경 설정 ( 1등 알고리즘 )

In [6]:
pip install tzlocal

Requirement already satisfied: tzlocal in /usr/local/lib/python3.7/dist-packages (1.5.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from tzlocal) (2018.9)

In [ ]:
pip install pmdarima

In [21]:
pip install statsmodels

Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (0.12.2)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (0.5.1)
Requirement already satisfied: scipy>=1.1 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.4.1)
Requirement already satisfied: pandas>=0.21 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21->statsmodels) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5->statsmodels) (1.15.0)

In [22]:
pip install tqdm

Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (4.62.0)

In [7]:
import rpy2

In [8]:
rpy2.__version__

'3.4.5'

In [12]:
import pandas as pd
import numpy as np

pd.__version__, np.__version__

('1.1.5', '1.19.5')

In [17]:
import pmdarima

pmdarima.__version__

'1.8.2'

In [24]:
import statsmodels
import tqdm
import seaborn as sns

statsmodels.__version__, tqdm.__version__, sns.__version__

('0.12.2', '4.62.0', '0.11.1')