<a href="https://colab.research.google.com/github/HWANG-HOE-SUN/Code-/blob/main/%EC%83%81%EC%A0%90_%EC%8B%A0%EC%9A%A9%EC%B9%B4%EB%93%9C%EB%A7%A4%EC%B6%9C_Solution%ED%95%84%EC%82%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import pandas as pd
import os
import warnings

warnings.filterwarnings('ignore')

In [32]:
train = pd.read_csv('/content/funda_train.csv')
submission = pd.read_csv('/content/submission.csv')

In [35]:
train.shape

(6556613, 9)

In [33]:
train.tail()

         store_id  card_id card_company  ...  region type_of_business       amount
6556608      2136  4663855            d  ...  제주 제주시           기타 주점업 -4500.000000
6556609      2136  4663855            d  ...  제주 제주시           기타 주점업  4142.857143
6556610      2136  4663489            a  ...  제주 제주시           기타 주점업  4500.000000
6556611      2136  4663856            d  ...  제주 제주시           기타 주점업   571.428571
6556612      2136  4658616            c  ...  제주 제주시           기타 주점업  5857.142857

[5 rows x 9 columns]