<a href="https://colab.research.google.com/github/HWANG-HOE-SUN/Code-/blob/main/Zerobase/02_Analysis_Seoul_Crime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 02. Analysis Seoul Crime

## 1. 프로젝트 개요

## 2. 데이터 개요

In [1]:
import numpy as np 
import pandas as pd

In [2]:
# 데이터 읽기 
crime_raw_data = pd.read_csv("/content/02. crime_in_Seoul.csv", thousands=",", encoding="euc-kr") # thousands 숫자값을 문자로 인식할 수 있어서 설정
crime_raw_data.head()

   구분  죄종 발생검거     건수
0  중부  살인   발생    2.0
1  중부  살인   검거    2.0
2  중부  강도   발생    3.0
3  중부  강도   검거    3.0
4  중부  강간   발생  141.0

In [3]:
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65534 entries, 0 to 65533
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      310 non-null    object
 1   죄종      310 non-null    object
 2   발생검거    310 non-null    object
 3   건수      310 non-null    float64
dtypes: float64(1), object(3)
memory usage: 2.0+ MB

- info(): 데이터의 개요 확인하기 
- RangeIndex가 65534인데, 310개이다

In [4]:
crime_raw_data["죄종"].unique()

array(['살인', '강도', '강간', '절도', '폭력', nan], dtype=object)

- 특정 컬럼에서 unique 조사 
- nan 값이 들어가 있다

In [5]:
crime_raw_data[crime_raw_data["죄종"].isnull()].head()

      구분   죄종 발생검거  건수
310  NaN  NaN  NaN NaN
311  NaN  NaN  NaN NaN
312  NaN  NaN  NaN NaN
313  NaN  NaN  NaN NaN
314  NaN  NaN  NaN NaN

In [6]:
crime_raw_data = crime_raw_data[crime_raw_data["죄종"].notnull()]

In [7]:
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 310 entries, 0 to 309
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      310 non-null    object
 1   죄종      310 non-null    object
 2   발생검거    310 non-null    object
 3   건수      310 non-null    float64
dtypes: float64(1), object(3)
memory usage: 12.1+ KB

In [8]:
crime_raw_data.head()

   구분  죄종 발생검거     건수
0  중부  살인   발생    2.0
1  중부  살인   검거    2.0
2  중부  강도   발생    3.0
3  중부  강도   검거    3.0
4  중부  강간   발생  141.0

In [9]:
crime_raw_data.tail()

     구분  죄종 발생검거      건수
305  수서  강간   검거   144.0
306  수서  절도   발생  1149.0
307  수서  절도   검거   789.0
308  수서  폭력   발생  1666.0
309  수서  폭력   검거  1431.0

---

## Pandas pivot table 
- index, columns, values, aggfunc

In [11]:
df = pd.read_excel("/content/02. sales-funnel.xlsx")
df.head()

   Account                          Name  ...  Price     Status
0   714466               Trantow-Barrows  ...  30000  presented
1   714466               Trantow-Barrows  ...  10000  presented
2   714466               Trantow-Barrows  ...   5000    pending
3   737550  Fritsch, Russel and Anderson  ...  35000   declined
4   146832                  Kiehn-Spinka  ...  65000        won

[5 rows x 8 columns]

#### index 설정

In [12]:
# Name 컬럼을 인덱스로 설정
# pd.pivot_table(df, index="Name")
df.pivot_table(index="Name")

                              Account   Price  Quantity
Name
Barton LLC                     740150   35000  1.000000
Fritsch, Russel and Anderson   737550   35000  1.000000
Herman LLC                     141962   65000  2.000000
Jerde-Hilpert                  412290    5000  2.000000
Kassulke, Ondricka and Metz    307599    7000  3.000000
Keeling LLC                    688981  100000  5.000000
Kiehn-Spinka                   146832   65000  2.000000
Koepp Ltd                      729833   35000  2.000000
Kulas Inc                      218895   25000  1.500000
Purdy-Kunde                    163416   30000  1.000000
Stokes LLC                     239344    7500  1.000000
Trantow-Barrows                714466   15000  1.333333

In [13]:
# 멀티 인덱스 설정 
df.pivot_table(index=["Name", "Rep", "Manager"])

                                                          Account  ...  Quantity
Name                         Rep           Manager                 ...
Barton LLC                   John Smith    Debra Henley    740150  ...  1.000000
Fritsch, Russel and Anderson Craig Booker  Debra Henley    737550  ...  1.000000
Herman LLC                   Cedric Moss   Fred Anderson   141962  ...  2.000000
Jerde-Hilpert                John Smith    Debra Henley    412290  ...  2.000000
Kassulke, Ondricka and Metz  Wendy Yule    Fred Anderson   307599  ...  3.000000
Keeling LLC                  Wendy Yule    Fred Anderson   688981  ...  5.000000
Kiehn-Spinka                 Daniel Hilton Debra Henley    146832  ...  2.000000
Koepp Ltd                    Wendy Yule    Fred Anderson   729833  ...  2.000000
Kulas Inc                    Daniel Hilton Debra Henley    218895  ...  1.500000
Purdy-Kunde                  Cedric Moss   Fred Anderson   163416  ...  1.000000
Stokes LLC                   Cedric Moss   Fred Anderson   239344  ...  1.000000
Trantow-Barrows              Craig Booker  Debra Henley    714466  ...  1.333333

[12 rows x 3 columns]

In [14]:
# 멀티 인덱스 설정 
df.pivot_table(index=["Manager", "Rep"])

                              Account         Price  Quantity
Manager       Rep
Debra Henley  Craig Booker   720237.0  20000.000000  1.250000
              Daniel Hilton  194874.0  38333.333333  1.666667
              John Smith     576220.0  20000.000000  1.500000
Fred Anderson Cedric Moss    196016.5  27500.000000  1.250000
              Wendy Yule     614061.5  44250.000000  3.000000

#### values 설정

In [15]:
df.head()

   Account                          Name  ...  Price     Status
0   714466               Trantow-Barrows  ...  30000  presented
1   714466               Trantow-Barrows  ...  10000  presented
2   714466               Trantow-Barrows  ...   5000    pending
3   737550  Fritsch, Russel and Anderson  ...  35000   declined
4   146832                  Kiehn-Spinka  ...  65000        won

[5 rows x 8 columns]

In [16]:
df.pivot_table(index=["Manager", "Rep"], values="Price")

                                    Price
Manager       Rep
Debra Henley  Craig Booker   20000.000000
              Daniel Hilton  38333.333333
              John Smith     20000.000000
Fred Anderson Cedric Moss    27500.000000
              Wendy Yule     44250.000000

In [17]:
# Price 컬럼 sum 연산 적용 
df.pivot_table(index=["Manager", "Rep"], values="Price", aggfunc=np.sum)

                              Price
Manager       Rep
Debra Henley  Craig Booker    80000
              Daniel Hilton  115000
              John Smith      40000
Fred Anderson Cedric Moss    110000
              Wendy Yule     177000

In [18]:
 df.pivot_table(index=["Manager", "Rep"], values="Price", aggfunc=[np.sum, len])

                                sum   len
                              Price Price
Manager       Rep
Debra Henley  Craig Booker    80000     4
              Daniel Hilton  115000     3
              John Smith      40000     2
Fred Anderson Cedric Moss    110000     4
              Wendy Yule     177000     4

#### columns 설정

In [19]:
df.head()

   Account                          Name  ...  Price     Status
0   714466               Trantow-Barrows  ...  30000  presented
1   714466               Trantow-Barrows  ...  10000  presented
2   714466               Trantow-Barrows  ...   5000    pending
3   737550  Fritsch, Russel and Anderson  ...  35000   declined
4   146832                  Kiehn-Spinka  ...  65000        won

[5 rows x 8 columns]

In [20]:
# Product를 컬럼으로 지정
df.pivot_table(index=["Manager", "Rep"], values="Price", columns="Product", aggfunc=np.sum)

Product                           CPU  Maintenance  Monitor  Software
Manager       Rep
Debra Henley  Craig Booker    65000.0       5000.0      NaN   10000.0
              Daniel Hilton  105000.0          NaN      NaN   10000.0
              John Smith      35000.0       5000.0      NaN       NaN
Fred Anderson Cedric Moss     95000.0       5000.0      NaN   10000.0
              Wendy Yule     165000.0       7000.0   5000.0       NaN

In [21]:
# Nan 값 설정 : fill_value 
df.pivot_table(index=["Manager", "Rep"], values="Price", columns="Product", aggfunc=np.sum, fill_value=0)

Product                         CPU  Maintenance  Monitor  Software
Manager       Rep
Debra Henley  Craig Booker    65000         5000        0     10000
              Daniel Hilton  105000            0        0     10000
              John Smith      35000         5000        0         0
Fred Anderson Cedric Moss     95000         5000        0     10000
              Wendy Yule     165000         7000     5000         0

In [22]:
# 2개 이상 index, values 설정 
df.pivot_table(index=["Manager", "Rep", "Product"], values=["Price", "Quantity"], aggfunc=np.sum, fill_value=0)

                                          Price  Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU           65000         2
                            Maintenance    5000         2
                            Software      10000         1
              Daniel Hilton CPU          105000         4
                            Software      10000         1
              John Smith    CPU           35000         1
                            Maintenance    5000         2
Fred Anderson Cedric Moss   CPU           95000         3
                            Maintenance    5000         1
                            Software      10000         1
              Wendy Yule    CPU          165000         7
                            Maintenance    7000         3
                            Monitor        5000         2

In [23]:
# aggfunc 2개 이상 설정 
df.pivot_table(
    index=["Manager", "Rep", "Product"], 
    values=["Price", "Quantity"], 
    aggfunc=[np.sum, np.mean], 
    fill_value=0,
    margins=True) # 총계(All) 추가

                                            sum  ...      mean
                                          Price  ...  Quantity
Manager       Rep           Product              ...
Debra Henley  Craig Booker  CPU           65000  ...  1.000000
                            Maintenance    5000  ...  2.000000
                            Software      10000  ...  1.000000
              Daniel Hilton CPU          105000  ...  2.000000
                            Software      10000  ...  1.000000
              John Smith    CPU           35000  ...  1.000000
                            Maintenance    5000  ...  2.000000
Fred Anderson Cedric Moss   CPU           95000  ...  1.500000
                            Maintenance    5000  ...  1.000000
                            Software      10000  ...  1.000000
              Wendy Yule    CPU          165000  ...  3.500000
                            Maintenance    7000  ...  3.000000
                            Monitor        5000  ...  2.000000
All                                      522000  ...  1.764706

[14 rows x 4 columns]

---

## 3. 서울시 범죄 현황 데이터 정리

In [24]:
crime_raw_data.head()

   구분  죄종 발생검거     건수
0  중부  살인   발생    2.0
1  중부  살인   검거    2.0
2  중부  강도   발생    3.0
3  중부  강도   검거    3.0
4  중부  강간   발생  141.0

In [25]:
crime_station = crime_raw_data.pivot_table(
    crime_raw_data, 
    index="구분", 
    columns=["죄종", "발생검거"], 
    aggfunc=[np.sum])
crime_station.head()

        sum
         건수
죄종       강간           강도          살인           절도              폭력
발생검거     검거     발생    검거    발생    검거   발생      검거      발생      검거      발생
구분
강남    269.0  339.0  26.0  24.0   3.0  3.0  1129.0  2438.0  2096.0  2336.0
강동    152.0  160.0  13.0  14.0   5.0  4.0   902.0  1754.0  2201.0  2530.0
강북    159.0  217.0   4.0   5.0   6.0  7.0   672.0  1222.0  2482.0  2778.0
강서    239.0  275.0  10.0  10.0  10.0  9.0  1070.0  1952.0  2768.0  3204.0
관악    264.0  322.0  10.0  12.0   7.0  6.0   937.0  2103.0  2707.0  3235.0

In [26]:
crime_station.columns # Multiindex

MultiIndex([('sum', '건수', '강간', '검거'),
            ('sum', '건수', '강간', '발생'),
            ('sum', '건수', '강도', '검거'),
            ('sum', '건수', '강도', '발생'),
            ('sum', '건수', '살인', '검거'),
            ('sum', '건수', '살인', '발생'),
            ('sum', '건수', '절도', '검거'),
            ('sum', '건수', '절도', '발생'),
            ('sum', '건수', '폭력', '검거'),
            ('sum', '건수', '폭력', '발생')],
           names=[None, None, '죄종', '발생검거'])

In [27]:
crime_station["sum", "건수", "강도", "검거"][:5]

구분
강남    26.0
강동    13.0
강북     4.0
강서    10.0
관악    10.0
Name: (sum, 건수, 강도, 검거), dtype: float64

In [28]:
crime_station.columns = crime_station.columns.droplevel([0, 1]) # 다중 컬럼에서 특정 컬럼 제거 
crime_station.columns

MultiIndex([('강간', '검거'),
            ('강간', '발생'),
            ('강도', '검거'),
            ('강도', '발생'),
            ('살인', '검거'),
            ('살인', '발생'),
            ('절도', '검거'),
            ('절도', '발생'),
            ('폭력', '검거'),
            ('폭력', '발생')],
           names=['죄종', '발생검거'])

In [29]:
crime_station.head()

죄종       강간           강도          살인           절도              폭력
발생검거     검거     발생    검거    발생    검거   발생      검거      발생      검거      발생
구분
강남    269.0  339.0  26.0  24.0   3.0  3.0  1129.0  2438.0  2096.0  2336.0
강동    152.0  160.0  13.0  14.0   5.0  4.0   902.0  1754.0  2201.0  2530.0
강북    159.0  217.0   4.0   5.0   6.0  7.0   672.0  1222.0  2482.0  2778.0
강서    239.0  275.0  10.0  10.0  10.0  9.0  1070.0  1952.0  2768.0  3204.0
관악    264.0  322.0  10.0  12.0   7.0  6.0   937.0  2103.0  2707.0  3235.0

In [30]:
crime_station.index

Index(['강남', '강동', '강북', '강서', '관악', '광진', '구로', '금천', '남대문', '노원', '도봉',
       '동대문', '동작', '마포', '방배', '서대문', '서부', '서초', '성동', '성북', '송파', '수서',
       '양천', '영등포', '용산', '은평', '종로', '종암', '중랑', '중부', '혜화'],
      dtype='object', name='구분')

- 현재 index는 경찰서 이름으로 되어 있습니다
- 경찰서 이름으로 구 이름을 알아내야 한다

## 4. Python 모듈 설치

#### pip 명령 
- python의 공식 모듈 관리자 
- pip list 
- pip install module_name 
- pip uninstall module_name 
- mac(M1)

In [31]:
# !pip list
get_ipython().system("pip list")

Package                       Version
----------------------------- --------------
absl-py                       0.12.0
alabaster                     0.7.12
albumentations                0.1.12
altair                        4.1.0
appdirs                       1.4.4
argcomplete                   1.12.3
argon2-cffi                   21.1.0
arviz                         0.11.2
astor                         0.8.1
astropy                       4.3.1
astunparse                    1.6.3
atari-py                      0.2.9
atomicwrites                  1.4.0
attrs                         21.2.0
audioread                     2.1.9
autograd                      1.3
Babel                         2.9.1
backcall                      0.2.0
beautifulsoup4                4.6.3
bleach                        4.1.0
blis                          0.4.1
bokeh                         2.3.3
Bottleneck                    1.3.2
branca                        0.4.2
bs4                           0.0.1
CacheControl                  0.12.6
cached-property               1.5.2
cachetools                    4.2.2
catalogue                     1.0.0
certifi                       2021.5.30
cffi                          1.14.6
cftime                        1.5.0
chardet                       3.0.4
charset-normalizer            2.0.6
clang                         5.0
click                         7.1.2
cloudpickle                   1.3.0
cmake                         3.12.0
cmdstanpy                     0.9.5
colorcet                      2.0.6
colorlover                    0.3.0
community                     1.0.0b1
contextlib2                   0.5.5
convertdate                   2.3.2
coverage                      3.7.1
coveralls                     0.5
crcmod                        1.7
cufflinks                     0.17.3
cvxopt                        1.2.7
cvxpy                         1.0.31
cycler                        0.10.0
cymem                         2.0.5
Cython                        0.29.24
daft                          0.0.4
dask                          2.12.0
datascience                   0.10.6
debugpy                       1.0.0
decorator                     4.4.2
defusedxml                    0.7.1
descartes                     1.1.0
dill                          0.3.4
distributed                   1.25.3
dlib                          19.18.0
dm-tree                       0.1.6
docopt                        0.6.2
docutils                      0.17.1
dopamine-rl                   1.0.5
earthengine-api               0.1.283
easydict                      1.9
ecos                          2.0.7.post1
editdistance                  0.5.3
en-core-web-sm                2.2.5
entrypoints                   0.3
ephem                         4.0.0.2
et-xmlfile                    1.1.0
fa2                           0.3.5
fastai                        1.0.61
fastdtw                       0.3.4
fastprogress                  1.0.0
fastrlock                     0.6
fbprophet                     0.7.1
feather-format                0.4.1
filelock                      3.0.12
firebase-admin                4.4.0
fix-yahoo-finance             0.0.22
Flask                         1.1.4
flatbuffers                   1.12
folium                        0.8.3
future                        0.16.0
gast                          0.4.0
GDAL                          2.2.2
gdown                         3.6.4
gensim                        3.6.0
geographiclib                 1.52
geopy                         1.17.0
gin-config                    0.4.0
glob2                         0.7
google                        2.0.3
google-api-core               1.26.3
google-api-python-client      1.12.8
google-auth                   1.35.0
google-auth-httplib2          0.0.4
google-auth-oauthlib          0.4.6
google-cloud-bigquery         1.21.0
google-cloud-bigquery-storage 1.1.0
google-cloud-core             1.0.3
google-cloud-datastore        1.8.0
google-cloud-firestore        1.7.0
google-cloud-language         1.2.0
google-cloud-storage          1.18.1
google-cloud-translate        1.5.0
google-colab                  1.0.0
google-pasta                  0.2.0
google-resumable-media        0.4.1
googleapis-common-protos      1.53.0
googledrivedownloader         0.4
graphviz                      0.10.1
greenlet                      1.1.1
grpcio                        1.40.0
gspread                       3.0.1
gspread-dataframe             3.0.8
gym                           0.17.3
h5py                          3.1.0
HeapDict                      1.0.1
hijri-converter               2.2.1
holidays                      0.10.5.2
holoviews                     1.14.6
html5lib                      1.0.1
httpimport                    0.5.18
httplib2                      0.17.4
httplib2shim                  0.0.3
humanize                      0.5.1
hyperopt                      0.1.2
ideep4py                      2.0.0.post3
idna                          2.10
imageio                       2.4.1
imagesize                     1.2.0
imbalanced-learn              0.4.3
imblearn                      0.0
imgaug                        0.2.9
importlib-metadata            4.8.1
importlib-resources           5.2.2
imutils                       0.5.4
inflect                       2.1.0
iniconfig                     1.1.1
intel-openmp                  2021.3.0
intervaltree                  2.1.0
ipykernel                     4.10.1
ipython                       5.5.0
ipython-genutils              0.2.0
ipython-sql                   0.3.9
ipywidgets                    7.6.5
itsdangerous                  1.1.0
jax                           0.2.21
jaxlib                        0.1.71+cuda111
jdcal                         1.4.1
jedi                          0.18.0
jieba                         0.42.1
Jinja2                        2.11.3
joblib                        1.0.1
jpeg4py                       0.1.4
jsonschema                    2.6.0
jupyter                       1.0.0
jupyter-client                5.3.5
jupyter-console               5.2.0
jupyter-core                  4.8.1
jupyterlab-pygments           0.1.2
jupyterlab-widgets            1.0.2
kaggle                        1.5.12
kapre                         0.3.5
keras                         2.6.0
Keras-Preprocessing           1.1.2
keras-vis                     0.4.1
kiwisolver                    1.3.2
korean-lunar-calendar         0.2.1
librosa                       0.8.1
lightgbm                      2.2.3
llvmlite                      0.34.0
lmdb                          0.99
LunarCalendar                 0.0.9
lxml                          4.2.6
Markdown                      3.3.4
MarkupSafe                    2.0.1
matplotlib                    3.2.2
matplotlib-inline             0.1.3
matplotlib-venn               0.11.6
missingno                     0.5.0
mistune                       0.8.4
mizani                        0.6.0
mkl                           2019.0
mlxtend                       0.14.0
more-itertools                8.10.0
moviepy                       0.2.3.5
mpmath                        1.2.1
msgpack                       1.0.2
multiprocess                  0.70.12.2
multitasking                  0.0.9
murmurhash                    1.0.5
music21                       5.5.0
natsort                       5.5.0
nbclient                      0.5.4
nbconvert                     5.6.1
nbformat                      5.1.3
nest-asyncio                  1.5.1
netCDF4                       1.5.7
networkx                      2.6.3
nibabel                       3.0.2
nltk                          3.2.5
notebook                      5.3.1
numba                         0.51.2
numexpr                       2.7.3
numpy                         1.19.5
nvidia-ml-py3                 7.352.0
oauth2client                  4.1.3
oauthlib                      3.1.1
okgrade                       0.4.3
opencv-contrib-python         4.1.2.30
opencv-python                 4.1.2.30
openpyxl                      2.5.9
opt-einsum                    3.3.0
osqp                          0.6.2.post0
packaging                     21.0
palettable                    3.3.0
pandas                        1.1.5
pandas-datareader             0.9.0
pandas-gbq                    0.13.3
pandas-profiling              1.4.1
pandocfilters                 1.5.0
panel                         0.12.1
param                         1.11.1
parso                         0.8.2
pathlib                       1.0.1
patsy                         0.5.1
pep517                        0.11.0
pexpect                       4.8.0
pickleshare                   0.7.5
Pillow                        7.1.2
pip                           21.1.3
pip-tools                     6.2.0
plac                          1.1.3
plotly                        4.4.1
plotnine                      0.6.0
pluggy                        0.7.1
pooch                         1.5.1
portpicker                    1.3.9
prefetch-generator            1.0.1
preshed                       3.0.5
prettytable                   2.2.0
progressbar2                  3.38.0
prometheus-client             0.11.0
promise                       2.3
prompt-toolkit                1.0.18
protobuf                      3.17.3
psutil                        5.4.8
psycopg2                      2.7.6.1
ptyprocess                    0.7.0
py                            1.10.0
pyarrow                       3.0.0
pyasn1                        0.4.8
pyasn1-modules                0.2.8
pycocotools                   2.0.2
pycparser                     2.20
pyct                          0.4.8
pydata-google-auth            1.2.0
pydot                         1.3.0
pydot-ng                      2.0.0
pydotplus                     2.0.2
PyDrive                       1.3.1
pyemd                         0.5.1
pyerfa                        2.0.0
pyglet                        1.5.0
Pygments                      2.6.1
pygobject                     3.26.1
pymc3                         3.11.4
PyMeeus                       0.5.11
pymongo                       3.12.0
pymystem3                     0.2.0
PyOpenGL                      3.1.5
pyparsing                     2.4.7
pyrsistent                    0.18.0
pysndfile                     1.3.8
PySocks                       1.7.1
pystan                        2.19.1.1
pytest                        3.6.4
python-apt                    0.0.0
python-chess                  0.23.11
python-dateutil               2.8.2
python-louvain                0.15
python-slugify                5.0.2
python-utils                  2.5.6
pytz                          2018.9
pyviz-comms                   2.1.0
PyWavelets                    1.1.1
PyYAML                        3.13
pyzmq                         22.3.0
qdldl                         0.1.5.post0
qtconsole                     5.1.1
QtPy                          1.11.2
regex                         2019.12.20
requests                      2.23.0
requests-oauthlib             1.3.0
resampy                       0.2.2
retrying                      1.3.3
rpy2                          3.4.5
rsa                           4.7.2
scikit-image                  0.16.2
scikit-learn                  0.22.2.post1
scipy                         1.4.1
screen-resolution-extra       0.0.0
scs                           2.1.4
seaborn                       0.11.2
semver                        2.13.0
Send2Trash                    1.8.0
setuptools                    57.4.0
setuptools-git                1.2
Shapely                       1.7.1
simplegeneric                 0.8.1
six                           1.15.0
sklearn                       0.0
sklearn-pandas                1.8.0
smart-open                    5.2.1
snowballstemmer               2.1.0
sortedcontainers              2.4.0
SoundFile                     0.10.3.post1
spacy                         2.2.4
Sphinx                        1.8.5
sphinxcontrib-serializinghtml 1.1.5
sphinxcontrib-websupport      1.2.4
SQLAlchemy                    1.4.25
sqlparse                      0.4.2
srsly                         1.0.5
statsmodels                   0.10.2
sympy                         1.7.1
tables                        3.4.4
tabulate                      0.8.9
tblib                         1.7.0
tensorboard                   2.6.0
tensorboard-data-server       0.6.1
tensorboard-plugin-wit        1.8.0
tensorflow                    2.6.0
tensorflow-datasets           4.0.1
tensorflow-estimator          2.6.0
tensorflow-gcs-config         2.6.0
tensorflow-hub                0.12.0
tensorflow-metadata           1.2.0
tensorflow-probability        0.13.0
termcolor                     1.1.0
terminado                     0.12.1
testpath                      0.5.0
text-unidecode                1.3
textblob                      0.15.3
Theano-PyMC                   1.1.2
thinc                         7.4.0
tifffile                      2021.8.30
toml                          0.10.2
tomli                         1.2.1
toolz                         0.11.1
torch                         1.9.0+cu102
torchsummary                  1.5.1
torchtext                     0.10.0
torchvision                   0.10.0+cu102
tornado                       5.1.1
tqdm                          4.62.3
traitlets                     5.1.0
tweepy                        3.10.0
typeguard                     2.7.1
typing-extensions             3.7.4.3
tzlocal                       1.5.1
uritemplate                   3.0.1
urllib3                       1.24.3
vega-datasets                 0.9.0
wasabi                        0.8.2
wcwidth                       0.2.5
webencodings                  0.5.1
Werkzeug                      1.0.1
wheel                         0.37.0
widgetsnbextension            3.5.1
wordcloud                     1.5.0
wrapt                         1.12.1
xarray                        0.18.2
xgboost                       0.90
xkit                          0.0.0
xlrd                          1.1.0
xlwt                          1.3.0
yellowbrick                   0.9.1
zict                          2.0.0
zipp                          3.5.0

#### conda 명령
- conda list 
- conda install module_name 
- conda uninstall module_name 
- conda install -c channel_name module_name 
    - 지정된 배포 채널에서 모듈 설치
    
- Windows, mac(intel)

## 5. Google Maps API 설치

In [32]:
# 구글 계정
# AIzaSyDmJzezN3W6GDp3ud_w8mRF_CcGRjg1Vns

#### Windows, mac(intel)
- conda install -c conda-forge googlemaps

#### mac(M1)
- pip install googlemaps

In [34]:
pip install googlemaps

Collecting googlemaps
  Downloading googlemaps-4.5.3.tar.gz (32 kB)
Requirement already satisfied: requests<3.0,>=2.20.0 in /usr/local/lib/python3.7/dist-packages (from googlemaps) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2.10)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py) ... done
  Created wheel for googlemaps: filename=googlemaps-4.5.3-py3-none-any.whl size=38479 sha256=0292485b1827f27c0371cfb91e6aee496826b047b32c107578b5a4145ccff9b1
  Stored in directory: /root/.cache/pip/wheels/fa/1a/1c/cc0b8a1652a3f06aea586b0e4714a81bafed830513969baf92
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.5.3

In [35]:
import googlemaps

In [36]:
gmaps_key = "AIzaSyDmJzezN3W6GDp3ud_w8mRF_CcGRjg1Vns"
gmaps = googlemaps.Client(key=gmaps_key)

In [37]:
gmaps.geocode("서울영등포경찰서", language="ko")

ApiError: ignored

---

## Python 반복문

#### 간단한 for문 예제

In [ ]:
for n in [1, 2, 3, 4]:
    print("Number is", n)

#### 조금 복잡한 for문 예제

In [ ]:
for n in range(0, 10): 
    print(n ** 2)

#### 위 코드를 한 줄로 : list comprehension

In [ ]:
[n ** 2 for n in range(0, 10)]

## Pandas에 잘 맞춰진 반복문용 명령 iterrows() 
- Pandas 데이터 프레임은 대부분 2차원 
- 이럴 때 for문을 사용하면, n번째라는 지정을 반복해서 가독률이 떨어짐 
- Pandas 데이터 프레임으로 반복문을 만들때 itterows() 옵션을 사용하면 편함 
- 받을 때, 인덱스와 내용으로 나누어 받는 것만 주의

---

## 6. Google Maps를 이용한 데이터 정리

In [ ]:
import googlemaps

In [ ]:
gmaps_key = "AIzaSyDmJzezN3W6GDp3ud_w8mRF_CcGRjg1Vns"
gmaps = googlemaps.Client(key=gmaps_key)

In [ ]:
gmaps.geocode("서울영등포경찰서", language="ko") # 단순 테스트 코드

In [ ]:
tmp = gmaps.geocode("서울영등포경찰서", language="ko")

In [ ]:
len(tmp)

In [ ]:
type(tmp[0].get("geometry")["location"])

In [ ]:
print(tmp[0].get("geometry")["location"]["lat"])
print(tmp[0].get("geometry")["location"]["lng"])

In [ ]:
tmp[0].get("formatted_address").split()[2]

In [ ]:
crime_station.head()

- 구별, lat, lng 컬럼

In [ ]:
crime_station["구별"] = np.nan
crime_station["lat"] = np.nan
crime_station["lng"] = np.nan

In [ ]:
crime_station.head()

- 경찰서 이름에서 소속된 구이름 얻기 
- 구이름과 위도 경도 정보를 저장할 준비 
- 반복문을 이용해서 위 표의 NaN을 모두 채워줍니다
- iterrows()

In [ ]:
count = 0 

for idx, rows in crime_station.iterrows():
    station_name = "서울" + str(idx) + "경찰서"
    tmp = gmaps.geocode(station_name, language="ko")
    
    tmp[0].get("formatted_address")
    tmp_gu = tmp[0].get("formatted_address")
    
    lat = tmp[0].get("geometry")["location"]["lat"]
    lng = tmp[0].get("geometry")["location"]["lng"]
    
    crime_station.loc[idx, "lat"] = lat 
    crime_station.loc[idx, "lng"] = lng
    crime_station.loc[idx, "구별"] = tmp_gu.split()[2]
    
    print(count)
    count = count + 1

In [ ]:
crime_station.head()

In [ ]:
crime_station.columns.get_level_values(0)[2] + crime_station.columns.get_level_values(1)[2]

In [ ]:
len(crime_station.columns.get_level_values(0))

In [ ]:
tmp = [ 
    crime_station.columns.get_level_values(0)[n] + crime_station.columns.get_level_values(1)[n]
    for n in range(0, len(crime_station.columns.get_level_values(0)))
]
tmp

In [ ]:
tmp, len(tmp), len(crime_station.columns.get_level_values(0))

In [ ]:
crime_station.columns = tmp

In [ ]:
crime_station.head()

In [ ]:
# 데이터 저장
crime_station.to_csv("../data/02. crime_in_Seuol_raw.csv", sep=",", encoding="utf-8")

In [ ]:
pd.read_csv("../data/02. crime_in_Seoul_raw.csv").head(2)

## 7. 구별 데이터로 정리

In [ ]:
crime_anal_station = pd.read_csv(
    "../data/02. crime_in_Seoul_raw.csv", index_col=0, encoding="utf-8") # index_col "구분"을 인덱스 컬럼으로 설정
crime_anal_station.head()

In [ ]:
crime_anal_gu = pd.pivot_table(crime_anal_station, index="구별", aggfunc=np.sum)

del crime_anal_gu["lat"]
crime_anal_gu.drop("lng", axis=1, inplace=True)

crime_anal_gu.head()

In [ ]:
# 검거율 생성 
# 하나의 컬럼을 다른 컬럼으로 나누기 

crime_anal_gu["강도검거"] / crime_anal_gu["강도발생"]

In [ ]:
# 다수의 컬럼을 다른 컬럼으로 나누기 
crime_anal_gu[["강도검거", "살인검거"]].div(crime_anal_gu["강도발생"], axis=0).head(3)

In [ ]:
# 다수의 컬럼을 다수의 컬럼으로 각각 나누기 

num = ["강간검거", "강도검거", "살인검거", "절도검거", "폭력검거"]
den = ["강간발생", "강도발생", "살인발생", "절도발생", "폭력발생"]

crime_anal_gu[num].div(crime_anal_gu[den].values).head()

In [ ]:
target = ["강간검거율", "강도검거율", "살인검거율", "절도검거율", "폭력검거율"]

num = ["강간검거", "강도검거", "살인검거", "절도검거", "폭력검거"]
den = ["강간발생", "강도발생", "살인발생", "절도발생", "폭력발생"]

crime_anal_gu[target] = crime_anal_gu[num].div(crime_anal_gu[den].values) * 100 
crime_anal_gu.head()

In [ ]:
# 필요 없는 컬럼 제거 

del crime_anal_gu["강간검거"]
del crime_anal_gu["강도검거"]
crime_anal_gu.drop(["살인검거", "절도검거", "폭력검거"], axis=1, inplace=True)

crime_anal_gu.head()

In [ ]:
# 100보다 큰 숫자 찾아서 바꾸기 

crime_anal_gu[crime_anal_gu[target] > 100] = 100 
crime_anal_gu.head()

In [ ]:
# 컬럼 이름 변경 

crime_anal_gu.rename(columns={"강간발생": "강간", "강도발생": "강도", "살인발생": "살인", "절도발생": "절도", "폭력발생": "폭력"},
                    inplace=True)
crime_anal_gu.head()

## 8. 범죄 데이터 정렬을 위한 데이터 정리

In [ ]:
crime_anal_gu.head()

In [ ]:
# 정규화 : 최고값은 1, 최소값은 0 
crime_anal_gu["강도"] / crime_anal_gu["강도"].max()

In [ ]:
col = ["살인", "강도", "강간", "절도", "폭력"]
crime_anal_norm = crime_anal_gu[col] / crime_anal_gu[col].max()
crime_anal_norm.head()

In [ ]:
crime_anal_gu.head(1)

In [ ]:
# 검거율 추가 
col2 = ["강간검거율", "강도검거율", "살인검거율", "절도검거율", "폭력검거율"]
crime_anal_norm[col2] = crime_anal_gu[col2]
crime_anal_norm.head()

In [ ]:
# 구별 CCTV 자료에서 인구수와 CCTV수 추가

result_CCTV = pd.read_csv("../data/01. CCTV_result.csv", index_col="구별", encoding="utf-8")
result_CCTV.head()

In [ ]:
crime_anal_norm[["인구수", "CCTV"]] = result_CCTV[["인구수", "소계"]]
crime_anal_norm.head()

In [ ]:
# 정규화된 범죄발생 건수 전체의 평균을 구해서 범죄 컬럼 대표값으로 사용 

col = ["강간", "강도", "살인", "절도", "폭력"]
crime_anal_norm["범죄"] = np.mean(crime_anal_norm[col], axis=1)
crime_anal_norm.head()

---

## np.mean()

In [ ]:
np.array([0.357143, 1.000000, 1.000000, 0.977118, 0.733773])

In [ ]:
np.mean(np.array([0.357143, 1.000000, 1.000000, 0.977118, 0.733773]))

In [ ]:
np.array(
    [[0.357143, 1.000000, 1.000000, 0.977118, 0.733773],
    [0.285714, 0.358974, 0.310078, 0.477799, 0.463880]]
)

In [ ]:
np.mean(np.array(
    [[0.357143, 1.000000, 1.000000, 0.977118, 0.733773],
    [0.285714, 0.358974, 0.310078, 0.477799, 0.463880]]
), axis=1) # axis=1 행, axis=0 열

In [ ]:
np.mean(np.array(
    [[0.357143, 1.000000, 1.000000, 0.977118, 0.733773],
    [0.285714, 0.358974, 0.310078, 0.477799, 0.463880]]
), axis=0) # axis=1 행, axis=0 열

---

In [ ]:
# 검거율의 평균을 구해서 검거 컬럼의 대표값으로 사용 

col = ["강간검거율", "강도검거율", "살인검거율", "절도검거율", "폭력검거율"]
crime_anal_norm["검거"] = np.mean(crime_anal_norm[col], axis=1) # axis=1 행을 따라서 연산하는 옵션 
crime_anal_norm.head()

In [ ]:
crime_anal_norm

In [ ]:
crime_anal_norm = pd.read_csv("../data/02. crime_in_Seoul_final.csv", index_col=0, encoding="utf-8")
crime_anal_norm

---

## Seaborn

In [ ]:
# !conda install -y seaborn

In [ ]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
from matplotlib import rc 

plt.rcParams["axes.unicode_minus"] = False 
rc("font", family="Arial Unicode MS") # Windows: Malgun Gothic 
# %matplotlib inline 
get_ipython().run_line_magic("matplotlib", "inline")

#### 예제1: seaborn 기초

In [ ]:
np.linspace(0, 14, 100)

In [ ]:
x = np.linspace(0, 14, 100)
y1 = np.sin(x)
y2 = 2 * np.sin(x + 0.5)
y3 = 3 * np.sin(x + 1.0)
y4 = 4 * np.sin(x + 1.5)

In [ ]:
plt.figure(figsize=(10, 6))
plt.plot(x, y1, x, y2, x, y3, x, y4)
plt.show()

In [ ]:
# sns.set_style()
# "white", "whitegrid", "dark", "darkgrid"

sns.set_style("white")
plt.figure(figsize=(10, 6))
plt.plot(x, y1, x, y2, x, y3, x, y4)
plt.show()

In [ ]:
# sns.set_style()

sns.set_style("dark")
plt.figure(figsize=(10, 6))
plt.plot(x, y1, x, y2, x, y3, x, y4)
plt.show()

In [ ]:
# sns.set_style()

sns.set_style("whitegrid")
plt.figure(figsize=(10, 6))
plt.plot(x, y1, x, y2, x, y3, x, y4)
plt.show()

In [ ]:
# sns.set_style()

sns.set_style("darkgrid")
plt.figure(figsize=(10, 6))
plt.plot(x, y1, x, y2, x, y3, x, y4)
plt.show()

#### 예제2: seaborn tips data 
- boxplot 
- swarmplot 
- lmplot

In [ ]:
tips = sns.load_dataset("tips")
tips

In [ ]:
tips.info()

In [ ]:
# boxplot 
plt.figure(figsize=(8, 6))
sns.boxplot(x=tips["total_bill"])
plt.show()

In [ ]:
tips["day"].unique()

In [ ]:
# boxplot 
plt.figure(figsize=(8, 6))
sns.boxplot(x="day", y="total_bill", data=tips)
plt.show()

In [ ]:
tips.head(2)

In [ ]:
# boxplot hue, palette option 
# hue: 카테고리 데이터 표현 

plt.figure(figsize=(8, 6))
sns.boxplot(x="day", y="total_bill", data=tips, hue="smoker", palette="Set1") # Set 1 ~ 3 
plt.show()

In [ ]:
# swarmplot 
# color: 0~1 사이 검은색부터 흰색 사이 값을 조절 

plt.figure(figsize=(8, 6))
sns.swarmplot(x="day", y="total_bill", data=tips, color="0.5") 
plt.show()

In [ ]:
# boxplot with swarmplot 

plt.figure(figsize=(8, 6))
sns.boxplot(x="day", y="total_bill", data=tips)
sns.swarmplot(x="day", y="total_bill", data=tips, color="0.25")
plt.show()

In [ ]:
tips

In [ ]:
# lmplot: total_bil과 tip 사이 관계 파악 

sns.set_style("darkgrid")
sns.lmplot(x="total_bill", y="tip", data=tips, height=7) # size => height 
plt.show()

In [ ]:
tips

In [ ]:
# hue option 

sns.set_style("darkgrid")
sns.lmplot(x="total_bill", y="tip", data=tips, height=7, hue="smoker")
plt.show()

#### 예제3: flights data
- heatmap

In [ ]:
flights = sns.load_dataset("flights")
flights.head()

In [ ]:
flights.info()

In [ ]:
# pivot 
# index, columns, values
flights = flights.pivot(index="month", columns="year", values="passengers")
flights.head()

In [ ]:
# heatmap 

plt.figure(figsize=(10, 8))
sns.heatmap(data=flights, annot=True, fmt="d") # annot=True 데이터 값 표시, fmt="d" 정수형 표현
plt.show()

In [ ]:
# colormap 

plt.figure(figsize=(10, 8))
sns.heatmap(flights, annot=True, fmt="d", cmap="YlGnBu")
plt.show()

#### 예제4: iris data 
- pairplot

In [ ]:
iris = sns.load_dataset("iris")
iris.tail()

In [ ]:
# pairplot 

sns.set_style("ticks")
sns.pairplot(iris)
plt.show()

In [ ]:
iris.head(2)

In [ ]:
iris["species"].unique()

In [ ]:
# hue option 

sns.pairplot(iris, hue="species")
plt.show()

In [ ]:
# 원하는 컬럼만 pairplot 

sns.pairplot(iris, 
             x_vars=["sepal_width", "sepal_length"], 
             y_vars=["petal_width", "petal_length"])
plt.show()

#### 예제5: anscombe data 
- lmplot

In [ ]:
anscombe = sns.load_dataset("anscombe")
anscombe.tail()

In [ ]:
anscombe["dataset"].unique()

In [ ]:
sns.set_style("darkgrid")
sns.lmplot(x="x", y="y", data=anscombe.query("dataset == 'I'"), ci=None, height=7) # ci 신뢰구간 선택 
plt.show()

In [ ]:
sns.set_style("darkgrid")
sns.lmplot(x="x", y="y", data=anscombe.query("dataset == 'I'"), ci=None, height=7, scatter_kws={"s": 80}) # ci 신뢰구간 선택 
plt.show()

In [ ]:
# order option 
sns.set_style("darkgrid")
sns.lmplot(
    x="x", 
    y="y", 
    data=anscombe.query("dataset == 'II'"),
    order=1,
    ci=None, 
    height=7, 
    scatter_kws={"s": 80}) # ci 신뢰구간 선택 
plt.show()

In [ ]:
# order option 
sns.set_style("darkgrid")
sns.lmplot(
    x="x", 
    y="y", 
    data=anscombe.query("dataset == 'II'"),
    order=2,
    ci=None, 
    height=7, 
    scatter_kws={"s": 80}) # ci 신뢰구간 선택 
plt.show()

In [ ]:
# outlier 
sns.set_style("darkgrid")
sns.lmplot(
    x="x", 
    y="y", 
    data=anscombe.query("dataset == 'III'"),
    ci=None, 
    height=7, 
    scatter_kws={"s": 80}) # ci 신뢰구간 선택 
plt.show()

In [ ]:
# outlier 
sns.set_style("darkgrid")
sns.lmplot(
    x="x", 
    y="y", 
    data=anscombe.query("dataset == 'III'"),
    robust=True,
    ci=None, 
    height=7, 
    scatter_kws={"s": 80}) # ci 신뢰구간 선택 
plt.show()

---

## 9. 서울시 범죄현황 데이터 시각화

In [ ]:
import matplotlib.pyplot as plt 
import seaborn as sns 
from matplotlib import rc 

plt.rcParams["axes.unicode_minus"] = False 
get_ipython().run_line_magic("matplotlib", "inline")
rc("font", family="Arial Unicode MS") # Windows: Malgun Gothic

In [ ]:
crime_anal_norm.head()

In [ ]:
# pairplot 강도, 살인, 폭력에 대한 상관관계 확인 

sns.pairplot(data=crime_anal_norm, vars=["살인", "강도", "폭력"], kind="reg", height=3);

In [ ]:
crime_anal_norm.head(1)

In [ ]:
# "인구수", "CCTV"와 "살인", "강도"의 상관관계 확인 

def drawGraph():
    sns.pairplot(
        data=crime_anal_norm, 
        x_vars=["인구수", "CCTV"],
        y_vars=["살인", "강도"],
        kind="reg",
        height=4
    )
    plt.show()
drawGraph()

In [ ]:
# "인구수", "CCTV"와 "살인검거율", "폭력검거율"의 상관관계 확인

def drawGraph():
    sns.pairplot(
        data=crime_anal_norm, 
        x_vars=["인구수", "CCTV"],
        y_vars=["살인검거율", "폭력검거율"],
        kind="reg",
        height=4
    )
    plt.show()
drawGraph()

In [ ]:
# "인구수", "CCTV"와 "절도검거율", "강도검거율"의 상관관계 확인

def drawGraph():
    sns.pairplot(
        data=crime_anal_norm, 
        x_vars=["인구수", "CCTV"],
        y_vars=["절도검거율", "강도검거율"],
        kind="reg",
        height=4
    )
    plt.show()
drawGraph()

In [ ]:
crime_anal_norm.head(3)

In [ ]:
# 검거율 heatmap 
# "검거" 컬럼을 기준으로 정렬 

def drawGraph():
    
    # 데이터 프레임 생성 
    target_col = ["강간검거율", "강도검거율", "살인검거율", "절도검거율", "폭력검거율", "검거"]
    crime_anal_norm_sort = crime_anal_norm.sort_values(by="검거", ascending=False) # 내림차순 
    
    # 그래프 설정
    plt.figure(figsize=(10, 10))
    sns.heatmap(
        data=crime_anal_norm_sort[target_col],
        annot=True, # 데이터값 표현 
        fmt="f", # d: 정수, f: 실수
        linewidths=0.5, # 간격설정 
        cmap="RdPu",
    )
    plt.title("범죄 검거 비율(정규화된 검거의 합으로 정렬")
    plt.show()

In [ ]:
drawGraph()

In [ ]:
crime_anal_norm.head(1)

In [ ]:
# 범죄발생 건수 heatmap 
# "범죄" 컬럼을 기준으로 정렬 

def drawGraph():
    
    # 데이터 프레임 생성 
    target_col = ["살인", "강도", "강간", "절도", "폭력", "범죄"]
    crime_anal_norm_sort = crime_anal_norm.sort_values(by="범죄", ascending=False) # 내림차순 
    
    # 그래프 설정
    plt.figure(figsize=(10, 10))
    sns.heatmap(
        data=crime_anal_norm_sort[target_col],
        annot=True, # 데이터값 표현 
        fmt="f", # 실수값으로 표현
        linewidths=0.5, # 간격설정
        cmap="RdPu",
    )
    plt.title("범죄 비율(정규화된 발생 건수로 정렬)")
    plt.show()
drawGraph()

In [ ]:
# 데이터 저장 

crime_anal_norm.to_csv("../data/02. crime_in_Seoul_final.csv", sep=",", encoding="utf-8")

---

## folium

In [ ]:
# Windows, mac(intel, m1) 

# !pip install folium 

# Windows 
# !pip install charset 
# !pip install charset-normalizer

In [ ]:
import folium
import pandas as pd 
import json

### folium.Map()


```
location: tuple or list, default None
    Latitude and Longitude of Map (Northing, Easting).
```

In [ ]:
m = folium.Map(location=[37.544564958079896, 127.05582307754338], zoom_start=14) # 0 ~ 18 
m

### save("path")

In [ ]:
m.save("./folium.html")

In [ ]:
!ls

### tiles option

```
- "OpenStreetMap"
- "Mapbox Bright" (Limited levels of zoom for free tiles)
- "Mapbox Control Room" (Limited levels of zoom for free tiles)
- "Stamen" (Terrain, Toner, and Watercolor)
- "Cloudmade" (Must pass API key)
- "Mapbox" (Must pass API key)
- "CartoDB" (positron and dark_matter)
```

In [ ]:
m = folium.Map(
    location=[37.544564958079896, 127.05582307754338], 
    zoom_start=14,
    tiles="OpenStreetMap"
) # 0 ~ 18 
m

### folium.Marker()
- 지도에 마커 생성

In [ ]:
m = folium.Map(
    location=[37.544564958079896, 127.05582307754338], # 성수역 
    zoom_start=14,
    tiles="OpenStreetMap"
) # 0 ~ 18 

# 뚝섬역 
folium.Marker((37.54712311308356, 127.04721916917774)).add_to(m)

# 성수역 
folium.Marker(
    location=[37.544564958079896, 127.05582307754338],
    popup="<b>Subway</b>"
).add_to(m)

# tooltip 
folium.Marker(
    location=[37.544564958079896, 127.05582307754338],
    popup="<b>Subway</b>",
    tooltip="<i>성수역</i>"
).add_to(m)

# html  
folium.Marker(
    location=[37.54558642069953, 127.05729705810472],
    popup="<a href='https://zero-base.co.kr/' target=_'blink'>제로베이스</a>",
    tooltip="<i>Zerobase</i>"
).add_to(m)

m

### folium.Icon()

- https://fontawesome.com/v5.15/icons?d=gallery&p=2&m=free 
- https://getbootstrap.com/docs/3.3/components/

In [ ]:
m = folium.Map(
    location=[37.544564958079896, 127.05582307754338], # 성수역 
    zoom_start=14,
    tiles="OpenStreetMap"
) # 0 ~ 18 

# icon basic  
folium.Marker(
    (37.54712311308356, 127.04721916917774), 
    icon=folium.Icon(color="black", icon='info-sign')
).add_to(m)

# icon icon_color
folium.Marker(
    location=[37.544564958079896, 127.05582307754338],
    popup="<b>Subway</b>",
    tooltip="icon color",
    icon=folium.Icon(
        color="red",
        icon_color="blue",
        icon="cloud")
).add_to(m)

# Icon custom 
folium.Marker(
    location=[37.54035903907497, 127.06913328776446], # 건대입구역
    popup="건대입구역",
    tooltip="Icon custom",
    icon=folium.Icon(
        color="purple",
        icon_color="white",
        icon="glyphicon glyphicon-cloud",
        angle=50,
        prefix="glyphicon") # glyphicon
).add_to(m)


m

### folium.ClickForMarker()
- 지도위에 마우스로 클릭했을 때 마커를 생성해줍니다

In [ ]:
m = folium.Map(
    location=[37.544564958079896, 127.05582307754338], # 성수역 
    zoom_start=14,
    tiles="OpenStreetMap"
) # 0 ~ 18 

m.add_child(folium.ClickForMarker(popup="ClickForMarker"))

### folium.LatLngPopup()
- 지도를 마우스로 클릭했을 때 위도 경도 정보를 반환해줍니다

In [ ]:
m = folium.Map(
    location=[37.544564958079896, 127.05582307754338], # 성수역 
    zoom_start=14,
    tiles="OpenStreetMap"
) # 0 ~ 18 

m.add_child(folium.LatLngPopup())

### folium.Circle(), folium.CircleMarker()

In [ ]:
m = folium.Map(
    location=[37.55068861733562, 127.04420997492151], 
    zoom_start=14,
    tiles="OpenStreetMap"
) # 0 ~ 18 


# Circle 
folium.Circle(
    location=[37.555243442409406, 127.04370422643919], # 한양대학교
    radius=100, 
    fill=True,
    color="#eb9e34",
    fill_color="red",
    popup="Circle Popup",
    tooltip="Circle Tooltip"
).add_to(m)

# CircleMarker
folium.CircleMarker(
    location=[37.54347089498245, 127.04439204503049], # 한양대학교
    radius=100, 
    fill=True,
    color="#34ebc6",
    fill_color="#c634eb",
    popup="CircleMarker Popup",
    tooltip="CircleMarker Tooltip"
).add_to(m)

m

### folium.Choropleth

In [ ]:
import json

In [ ]:
state_data = pd.read_csv("../data/02. US_Unemployment_Oct2012.csv")
state_data.tail(2)

In [ ]:
m = folium.Map([43, -102], zoom_start=3)

folium.Choropleth(
    geo_data="../data/02. us-states.json", # 경계선 좌표값이 담긴 데이터
    data=state_data, # Series or DataFrame 
    columns=["State", "Unemployment"], # DataFrame columns 
    key_on="feature.id",
    fill_color="BuPu",
    fill_opacity=0.5, # 0~1 
    line_opacity=0.2, # 0~1
    legend_name="Unemployment rate (%)"    
).add_to(m)

m

### 아파트 유형 지도 시각화 

- 공공데이터포털
- https://www.data.go.kr/data/15066101/fileData.do

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("../data/02. 서울특별시 동작구_주택유형별 위치 정보 및 세대수 현황_20210825.csv", encoding="cp949")
df.tail(2)

In [ ]:
df.info()

In [ ]:
# NaN 데이터 제거 
df = df.dropna()
df.info()

In [ ]:
df = df.reset_index(drop=True)
df.tail(2)

In [ ]:
del df["연번"]

In [ ]:
df.columns

In [ ]:
df["연번 "]

In [ ]:
df = df.rename(columns={"연번 ": "연번", "분류 ": "분류"})
df.연번[:10]

In [ ]:
df.tail(2)

In [ ]:
df.위도[0]

In [ ]:
df.describe()

In [ ]:
# folium 

m = folium.Map(location=[37.50589466533131, 126.93450729567374], zoom_start=13)

for idx, rows in df.iterrows():
    
    # location 
    lat, lng = rows.위도, rows.경도
    
    # Marker 
    folium.Marker(
        location=[lat, lng],
        popup=rows.주소,
        tooltip=rows.분류, 
        icon=folium.Icon(
            icon="home",
            color="lightred" if rows.세대수 >= 199 else "lightblue",
            icon_color="darkred" if rows.세대수 >= 199 else "darkblue",
        )
    ).add_to(m)

    # CircleMarker
    folium.Circle(
        location=[lat, lng],
        radius=rows.세대수 * 0.5, 
        fill=True, 
        color="pink" if rows.세대수 >= 518 else "green",
        fill_color="pink" if rows.세대수 >= 518 else "green",
    ).add_to(m)
    
m

### reference
- https://nbviewer.jupyter.org/github/python-visualization/folium/tree/master/examples/

---

## 10. 지도시각화

In [ ]:
import json

crime_anal_norm = pd.read_csv(
    "../data/02. crime_in_Seoul_final.csv", index_col=0, encoding="utf-8"
)
geo_path = "../data/02. skorea_municipalities_geo_simple.json"
geo_str = json.load(open(geo_path, encoding="utf-8"))

In [ ]:
my_map = folium.Map(location=[37.5502, 126.982], zoom_start=11, tiles="Stamen Toner")

my_map.choropleth(
    geo_data=geo_str,
    data=crime_anal_norm["살인"],
    columns=[crime_anal_norm.index, crime_anal_norm["살인"]],
    fill_color="PuRd",
    key_on="feature.id",
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name="정규화된 살인 발생 건수",
)

In [ ]:
my_map

### 성범죄 발생 건수

In [ ]:
my_map = folium.Map(location=[37.5502, 126.982], zoom_start=11, tiles="Stamen Toner")

my_map.choropleth(
    geo_data=geo_str,
    data=crime_anal_norm["강간"],
    columns=[crime_anal_norm.index, crime_anal_norm["강간"]],
    fill_color="PuRd",
    key_on="feature.id",
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name="정규화된 강간 발생 건수",
)

In [ ]:
my_map

### 5대 범죄 발생 건수

In [ ]:
my_map = folium.Map(location=[37.5502, 126.982], zoom_start=11, tiles="Stamen Toner")

my_map.choropleth(
    geo_data=geo_str,
    data=crime_anal_norm["범죄"],
    columns=[crime_anal_norm.index, crime_anal_norm["범죄"]],
    fill_color="PuRd",
    key_on="feature.id",
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name="정규화된 범죄 발생 건수",
)

In [ ]:
my_map

### 인구 대비 범죄 발생 건수

In [ ]:
tmp_criminal = crime_anal_norm["범죄"] / crime_anal_norm["인구수"]

my_map = folium.Map(location=[37.5502, 126.982], zoom_start=11, tiles="Stamen Toner")

my_map.choropleth(
    geo_data=geo_str,
    data=tmp_criminal,
    columns=[crime_anal_norm.index, tmp_criminal],
    fill_color="PuRd",
    key_on="feature.id",
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name="정규화된 범죄 발생 건수",
)

In [ ]:
my_map

## 경찰서별 검거현황과 구별 범죄발생 현황을 표현하기
* 경찰서별 정보를 가지고 범죄발생과 함께 정리

In [ ]:
crime_anal_station = pd.read_csv(
    "../data/02. crime_in_Seoul_1st.csv", index_col=0, encoding="utf-8"
)
col = ["살인검거", "강도검거", "강간검거", "절도검거", "폭력검거"]
tmp = crime_anal_station[col] / crime_anal_station[col].max()
crime_anal_station["검거"] = np.mean(tmp, axis=1)
crime_anal_station.head()

### 경찰서 위치를 지도에 표시

In [ ]:
my_map = folium.Map(location=[37.5502, 126.982], zoom_start=11)

for idx, rows in crime_anal_station.iterrows():
    folium.Marker([rows["lat"], rows["lng"]]).add_to(my_map)

In [ ]:
my_map

### 검거에 적절한 값을 곱해서 원의 넓이로 사용

In [ ]:
my_map = folium.Map(location=[37.5502, 126.982], zoom_start=11)

for idx, rows in crime_anal_station.iterrows():
    folium.CircleMarker(
        [rows["lat"], rows["lng"]],
        radius=rows["검거"] * 50,
        popup=rows["구분"] + " : " + "%.2f" % rows["검거"],
        color="#3186cc",
        fill=True,
        fill_color="#3186cc",
    ).add_to(my_map)

In [ ]:
my_map

### 구별 범죄 현황과 경찰서별 검거율을 함께 표시

In [ ]:
my_map = folium.Map(location=[37.5502, 126.982], zoom_start=11)

my_map.choropleth(
    geo_data=geo_str,
    data=crime_anal_norm["범죄"],
    columns=[crime_anal_norm.index, crime_anal_norm["범죄"]],
    fill_color="PuRd",
    key_on="feature.id",
    fill_opacity=0.7,
    line_opacity=0.2,
)

for idx, rows in crime_anal_station.iterrows():
    folium.CircleMarker(
        [rows["lat"], rows["lng"]],
        radius=rows["검거"] * 50,
        popup=rows["구분"] + " : " + "%.2f" % rows["검거"],
        color="#3186cc",
        fill=True,
        fill_color="#3186cc",
    ).add_to(my_map)

In [ ]:
my_map

### 강남의 범죄 발생이 많은 것은 혹시 유흥업소의 밀집과 관련이 있지는 않을까
* 확인을 위해 최초 받았던 발생 장소별 데이터를 읽어보자

In [ ]:
crime_loc_raw = pd.read_csv(
    "../data/02. crime_in_Seoul_location.csv", thousands=",", encoding="euc-kr"
)
crime_loc_raw.head()

In [ ]:
crime_loc_raw["범죄명"].unique()

In [ ]:
crime_loc_raw["장소"].unique()

In [ ]:
crime_loc = crime_loc_raw.pivot_table(
    crime_loc_raw, index=["장소"], columns=["범죄명"], aggfunc=[np.sum]
)
crime_loc.columns = crime_loc.columns.droplevel([0, 1])
crime_loc.head()

In [ ]:
col = ["살인", "강도", "강간", "절도", "폭력"]
crime_loc_norm = crime_loc / crime_loc.max()
crime_loc_norm.head()

In [ ]:
crime_loc_norm["종합"] = np.mean(crime_loc_norm, axis=1)
crime_loc_norm.head()

In [ ]:
crime_loc_norm_sort = crime_loc_norm.sort_values(by="종합", ascending=False)


def drawGraph():
    plt.figure(figsize=(10, 10))
    sns.heatmap(crime_loc_norm_sort, annot=True, fmt="f", linewidths=0.5, cmap="RdPu")
    plt.title("범죄와 발생 장소")
    plt.show()

In [ ]:
drawGraph()